body {
}

p {
  color: green;
}

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

.nalIcon {
  height: 55px;
  padding-top:20px;
}

.socialMedia {
  padding-top: 20px;
}

.mapContainer {
  width:960px;
  margin: 0 auto;
  /*border: 1px solid black;*/
  /*padding:20px;*/
  background-color: #50608F;

}
div.menu-bar ul ul {
  display: none;
}

div.menu-bar li:hover > ul {
  display: block;
}

#map {
      height: 400px;
      width: 100%;
     }

.mapTitle {
  margin:0 auto;
}

.map_data {
  background-color: #2F4073;
}

.footer {
  background-color: #50608F;
}

.company-bio {
  width: 50%;
  text-align: center;

}
@media screen and (max-width: 959px) {
    .mapContainer{
      width:90%;
    }
    body {
      width:100%;
      background-color: #6495ED;
      
    }
	}
