p {
  color: green;
}

.nalIcon {
  height: 55px;
  padding-top:20px;
}

.socialMedia {
  padding-top: 20px;
}

.mapContainer {
  padding:20px;
  width: 75%;
  margin: 0 auto;
  border: 1px solid black;
}
div.menu-bar ul ul {
  display: none;
}

div.menu-bar li:hover > ul {
  display: block;
}

#map {
      height: 400px;
      width: 100%;
     }
